body{
    background-image:url('mittag1.jpg')
    color: rgba(175, 10, 10, 0.933);
    font-family: "Times New Roman", Times, serif;
 
}
h1 {

    color: #7a8640;
    font-weight: bolder;
    text-transform:  normal;
    font-size: 300;
}
h2 {
    color: #0b0b0a
    font-weight: black;
    text-transform: uppercase;
    font-size: bold;
}



nav ul{

    list-style: none;
    background-color:rgb(188, 199, 36);
}

nav ul li {
    margin-left: 10ex;
    background-color: rgb(188, 199, 36);

}
nav ul li a{
    color: rgb(230, 29, 29);
    text-transform:  uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav a:hover {
    color: #006eff; /* Textfarbe ändern beim Überfahren */
}
nav :any-link{
     ::-webkit-slider-thumb
}